
*,
::before,
::after {
  /* Prevent padding and border from affecting element width. */
  box-sizing: border-box;

  /* Allow adding a border to an element by just adding a border-width */
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}


html,
:host {
  /* Use a consistent sensible line-height in all browsers. */
  line-height: 1.5;

  /* Prevent adjustments of font size after orientation changes in iOS. */
  -webkit-text-size-adjust: 100%;

  /* Use a more readable tab size. */
  -moz-tab-size: 4;
  tab-size: 4;

  /* Improve consistency of default fonts in all browsers. */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Disable tap highlights on iOS */
  -webkit-tap-highlight-color: transparent;
}


body {
  /* Remove the margin in all browsers. */
  margin: 0;
}


hr {
  /* Add the correct height in Firefox. */
  height: 0;

  /* Correct the inheritance of border color in Firefox. */
  color: inherit;

  /* Ensure horizontal rules are visible by default. */
  border-top-width: 1px;
}


abbr:where([title]) {
  /* Add the correct text decoration in Chrome, Edge, and Safari. */
  text-decoration: underline dotted;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  /* Remove the default font size and weight for headings. */
  font-size: inherit;
  font-weight: inherit;
}


a {
  /* Reset links to optimize for opt-in styling instead of opt-out. */
  color: inherit;
  text-decoration: inherit;
}


b,
strong {
  /* Add the correct font weight in Edge and Safari. */
  font-weight: bolder;
}


code,
kbd,
samp,
pre {
  /* Improve consistency of default fonts in all browsers. */
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  /* Correct the odd `em` font sizing in all browsers. */
  font-size: 1em;
}


small {
  /* Add the correct font size in all browsers. */
  font-size: 80%;
}


/*
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}


table {
  /* Remove text indentation from table contents in Chrome and Safari. */
  text-indent: 0;

  /* Correct table border color inheritance in all Chrome and Safari. */
  border-color: inherit;

  /* Remove gaps between table borders by default. */
  border-collapse: collapse;
}


/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  /* Change the font styles in all browsers. */
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;

  /* Remove the margin in Firefox and Safari. */
  margin: 0;

  /* Remove default padding in all browsers. */
  padding: 0;
}


button,
select {
  /* Remove the inheritance of text transform in Edge and Firefox. */
  text-transform: none;
}


button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  /* Correct the inability to style clickable types in iOS and Safari. */
  -webkit-appearance: button;

  /* Remove default button styles. */
  background-color: transparent;
  background-image: none;
}


:-moz-focusring {
  /* Use the modern Firefox focus style for all focusable elements. */
  outline: auto;
}


:-moz-ui-invalid {
  /* Remove the additional `:invalid` styles in Firefox. */
  box-shadow: none;
}


progress {
  /* Add the correct vertical alignment in Chrome and Firefox. */
  vertical-align: baseline;
}


::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  /* Correct the cursor style of increment and decrement buttons in Safari. */
  height: auto;
}


[type='search'] {
  /* Correct the odd appearance in Chrome and Safari. */
  -webkit-appearance: textfield;

  /* Correct the outline style in Safari. */
  outline-offset: -2px;
}


::-webkit-search-decoration {
  /* Remove the inner padding in Chrome and Safari on macOS.*/
  -webkit-appearance: none;
}


::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari. */
  -webkit-appearance: button;

  /* Change font properties to `inherit` in Safari. */
  font: inherit;
}


summary {
  /* Add the correct display in Chrome and Safari. */
  display: list-item;
}


/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}


dialog {
  /* Reset default styling for dialogs. */
  padding: 0;
}


textarea {
  /* Prevent resizing textareas horizontally by default. */
  resize: vertical;
}


input::placeholder,
textarea::placeholder {
  /* Reset the default placeholder opacity in Firefox.  */
  opacity: 1;

  /* Set the default placeholder color */
  color: #9ca3af;
}


button,
[role="button"] {
  /* Set the default cursor for buttons. */
  cursor: pointer;
}


:disabled {
  /* Make sure disabled buttons don't get the pointer cursor. */
  cursor: default;
}


img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  /* Make replaced elements `display: block` by default.  */
  display: block;
}


img,
video {
  /* Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. */
  max-width: 100%;
  height: auto;
}


[hidden] {
  /* Make elements with the HTML hidden attribute stay hidden by default */
  display: none;
}