:root {
  font-size: 16px;
  height: 100%;
  --color-primary: #000000;
  /* --color-secondary: #2ecc71; */
  --color-header-text: white;
  --color-text: gray;
  --color-btn-text: white;
  --color-button-red: #c6183d;
  --color-button-update: #8fc519;
  --color-border-card: gray;
}

body {
  height: 100%;
}

.body-container {
  display: flex;
  gap: 50px;
  height: 100%;
}


.sidebar {
  padding: 1rem;
  width: 250px;
  background-color: var(--color-primary);
  border-right: 1px solid gray;
}

.sidebar .container .user-info {
  display: flex;
  gap: 30px;

  picture img {
    width: 60px;
    border-radius: 50%;
  }

  .user-name {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-header-text);
  }

}

.sidebar .container .my-tasks {
  margin: 40px 0;

}

.sidebar .container .my-tasks .add-task,
.menu .menu-header button {
  padding: 0.8rem 3rem;
  background-color: var(--color-button-red);
  border-radius: 9px;
  color: var(--color-btn-text);
  font-weight: 600;

}

.sidebar .container .my-tasks h1,
.my-projects h1 {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--color-header-text);
}

.sidebar .container .my-tasks li,
.my-projects li {
  margin-top: 0.5em;
  font-size: 1.2rem;
  color: var(--color-text);
  font-weight: 600;
}

.menu {
  padding: 50px 50px;
  width: 1024px;
  flex-grow: 1;
}

.menu .container {
  width: 100%;
  min-height: 100%;
  border-top: 3px solid var(--color-border-card);
  border-right: 3px solid var(--color-border-card);
  box-shadow: 3px 3px 20px;
  padding: 40px;

}

.menu .menu-header {
  margin-bottom: 50px;
  border-bottom: 1px solid var(--color-border-card);
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  h1 {
    font-size: 3rem;
    font-weight: 600;
  }
}

.menu .container .todo-list .todo-item {
  margin-bottom: 50px;
  border: 3px solid var(--color-border-card);
  padding: 1rem;
  border-radius: 15px;
  cursor: pointer;


  h1 {
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 0.7em;
  }

  .main-descripton , .due-date {
    display: flex;
    gap: 30px;
    font-size: 1.2rem;
    margin-bottom: 0.7em;

    span {
      margin-right: 30px;
      color: var(--color-button-red);
      font-weight: 600;
    }


  }
}

.menu .container .todo-list .todo-item .hidden-details {
  fieldset {

    border: 1px solid var(--color-border-card);
    padding: 20px;
    display: flex;
    gap: 100px;

    legend {
      padding: 20px;
      font-size: 1.4rem;
      font-weight: 600;
      color: var(--color-text);
    }

    .todo-details,
    .todo-inputs,
    .description {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .description {
      flex-grow: 1;
    }


  }

  .btns-details {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;

    button {
      font-size: 1.4rem;
      padding: 0.2em 2em;
      border-radius: 10px;
      font-weight: 500;

    }

    .btn-update {
      background-color: var(--color-button-update);
    }

    .btn-cancel {
      background-color: var(--color-button-red);
      color: var(--color-btn-text);
    }


  }

}

.expand {
  height: 500px;
  background: rgb(237, 237, 237);
  border: 1px solid red;
  transition: all 2.4s;
}

.expand-hidden-details {
  display: block;
}

.un-expand-hidden-details {
  display: none;
}





.menu .container .todo-list .todo-item li {
  margin-left: auto;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;

  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 44px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid black;
    background-color: #eee;
    transition: all 0.4s;
  }

  input[type="checkbox"]::before {
    width: 16px;
    height: 16px;
    border-radius: 9px;
    background-color: black;
    content: '';
    position: absolute;
    top: 4px;
    left: 16%;
    transition: 16%;
  }

  input[type="checkbox"]:checked {
    background-color: var(--color-button-red);
    transition: all 0.4s;
  }

  input[type="checkbox"]:checked::before {
    left: 35%;
    transition: all 0.4s;
  }

  label {
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: relative;

    span {
      position: absolute;
    }
  }

  input[type="checkbox"]~label .on,
  input[type="checkbox"]:checked~label .off {
    opacity: 0;
  }

  input[type="checkbox"]~label .off,
  input[type="checkbox"]:checked~label .on {
    opacity: 1;
  }

}